.container {
    padding-block: 4.8rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 5.6rem;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
}

.game-board {
    max-width: 40rem;
    min-height: 40rem;
    width: 100%;
}

.game {
    margin-top: 7.2rem;
    width: 100%;
    max-width: 72rem;

    position: relative;
    display: flex;
    justify-content: center;
}

.game-info {
    position: absolute;
    right: 0;
    top: 0;
}

.move {
    color: #ffffffce;
}